
/*price label*/
#price-label{ 
    padding-top:2%;
    position: absolute;
    z-index:300;
    margin-left:10%;
  }
  
  #cinta{
    width: 30%;
    height: auto;
    position: absolute;
 /*    margin-left:3%; */
    z-index:140;
  }
  
#down-label{

}
